:root{
    --bg:#f4f6fb;
    --card:#ffffff;
    --text:#333;
    --primary:#4e73df;
}

body.dark{
    --bg:#1e1e2f;
    --card:#2c2c3e;
    --text:#f4f4f4;
    --primary:#1cc88a;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:var(--bg);
    color:var(--text);
    transition:0.3s;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:var(--primary);
    color:white;
    border-radius:15px;
    margin-bottom:30px;
}

.logo{
    font-size:20px;
    font-weight:700;
}

.toggle-btn{
    padding:8px 15px;
    border:none;
    border-radius:20px;
    background:white;
    color:var(--primary);
    cursor:pointer;
    font-weight:600;
}

.container{
    max-width:800px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.card{
    background:var(--card);
    padding:20px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:0.3s;
}

.card:hover{
    transform:translateY(5px);
    box-shadow:0 10px 25px rgba(236, 19, 19, 0.15);

}

.card h2{
    margin-bottom:10px;
    color:var(--primary);
}

input{
    width:100%;
    padding:8px;
    margin:6px 0;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    padding:8px 12px;
    margin-top:5px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:var(--primary);
    color:white;
    transition:0.3s;
}

button:hover{
    opacity:0.8;
}

.reset{
    background:#e74a3b;
}

.result{
    margin-top:8px;
    font-weight:600;
}

.badge{
    padding:4px 8px;
    border-radius:6px;
    color:white;
}

.Aplus{background:#28a745;}
.A{background:#17a2b8;}
.B{background:#ffc107;color:black;}
.C{background:#fd7e14;}
.Fail{background:#dc3545;}

.counter{
    font-size:12px;
    opacity:0.7;
}